body {
    min-height: 100vh;
    background-color:#142f44;
    display: grid;
    place-items: center;
}

.calculadora {
    background-color: #1d3849;
    color: white;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    width: 350px;
    max-width: 100%;
    padding: 1.5rem;
    border-radius: 1rem;
    gap: .5rem;
}

.pantalla {
    grid-column: 1 / -1;
    background-color: #142f44;
    padding: 1.5rem;
    border-radius: .5rem;
    font-size: 2rem;
    text-align: right;
    margin-bottom: 1rem;
    font-family: monospace;
    
}

.btn {
    background-color: #1d3849;
    border: 0;
    border-radius: .5rem;
    color: white;
    font-family: monospace;
    padding: 2rem .5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    font-size: 1.2rem;
    font-weight: 600;
}

.btn:hover {
    background-color: #142f44;
}

#cero {
    grid-column: span 2;
}

#igual {
    grid-row: span 2;
    background-color: #205b7a;
}

#igual:hover {
   background-color: rgb(84, 138, 169);
}
